In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections as cl
import itertools as it

import warnings
warnings.filterwarnings('ignore')

In [38]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1119,tt0257076,80000000,116643346,S.W.A.T.,Samuel L. Jackson|Colin Farrell|Michelle Rodri...,Clark Johnson,You're either S.W.A.T. or you're not.,Hondo Harrelson recruits Jim Street to join an...,117,Action|Thriller|Crime,Original Film|Columbia Pictures Corporation|Ca...,8/8/2003,5.800,2003
1802,tt0162222,90000000,429632142,Cast Away,Tom Hanks|Helen Hunt|Chris Noth|Paul Sanchez|L...,Robert Zemeckis,"At the edge of the world, his journey begins.","Chuck, a top international manager for FedEx, ...",143,Adventure|Drama,DreamWorks SKG|Twentieth Century Fox Film Corp...,12/22/2000,7.300,2000
130,tt2692250,127000000,349424282,Night at the Museum: Secret of the Tomb,Ben Stiller|Rami Malek|Rebel Wilson|Robin Will...,Shawn Levy,One Final Night to Save the Day.,When the magic powers of The Tablet of Ahkmenr...,97,Adventure|Comedy|Fantasy|Family,Twentieth Century Fox Film Corporation|1492 Pi...,12/17/2014,6.100,2014
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.000,2006
920,tt0253867,43000000,68696770,The Sweetest Thing,Cameron Diaz|Christina Applegate|Thomas Jane|S...,Roger Kumble,A romantic comedy without the sugar.,Christina's love life is stuck in neutral. Aft...,84,Romance|Comedy,Konrad Pictures,4/12/2002,5.400,2002

In [39]:
data.describe()

               budget           revenue   runtime  vote_average  release_year
count       1,889.000         1,889.000 1,889.000     1,889.000     1,889.000
mean   54,310,829.638   155,365,321.084   109.659         6.141     2,007.861
std    48,587,207.446   214,669,813.148    18.017         0.765         4.469
min     5,000,000.000     2,033,165.000    63.000         3.300     2,000.000
25%    20,000,000.000    34,560,577.000    97.000         5.600     2,004.000
50%    38,000,000.000    83,615,414.000   107.000         6.100     2,008.000
75%    72,000,000.000   178,262,620.000   120.000         6.600     2,012.000
max   380,000,000.000 2,781,505,847.000   214.000         8.100     2,015.000

# Предобработка

In [51]:
answers = {} # создадим словарь для ответов
pd.options.display.float_format = '{:,.3f}'.format

data['profit'] = data['revenue'] - data['budget'] # прибыль, доход за вычетом бюджета
data['month'] = data.release_date.apply(lambda x:x[0]) #отдельный стобик с месяцами для некоторых задач

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [102]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [40]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.300,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [103]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [42]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.800,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [104]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [44]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.800,2011

# 4. Какова средняя длительность фильмов?

In [105]:
answers['4'] = 110 # +

In [46]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [106]:
answers['5'] = 107 # +

In [48]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [107]:
answers['6'] = 'Avatar' # +

In [52]:
display(data[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.100,2009,2544505847,1

# 7. Какой фильм самый убыточный?

In [108]:
answers['7'] = 'The Lone Ranger' # +

In [54]:
display(data[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.000,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [109]:
answers['8'] = 1478 # +

In [56]:
not_unprofit = data[data.revenue > data.budget]
len(not_unprofit)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [59]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [58]:
data[data['profit'] == data[(data.release_year == 2008)].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.100,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [61]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [60]:
select_2012_2014 = data.loc[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].sort_values('profit')
select_2012_2014 [select_2012_2014.profit == select_2012_2014.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.000,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [63]:
answers['11'] = 782 # +

In [62]:
all_genres = pd.Series(data['genres'].str.cat(sep='|').split('|'))
all_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
answers['12'] = 'Drama' # +

In [66]:
profit_films = data[data.profit > 0]
cl.Counter(profit_films.genres.str.cat(sep = '|').split('|')).most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [69]:
answers['13'] = 'Peter Jackson' # +

In [68]:
director_gr = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
display(director_gr)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [71]:
answers['14'] = 'Robert Rodriguez' # +

In [70]:
dr_action = data[data.genres.str.contains('Action')]
dr_action = dr_action['director'].apply(lambda x:str(x).split('|'))
dr_action = dr_action.explode('director')
dr_action.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Adam Wingard          1
Paul Verhoeven        1
Neil Burger           1
Ilya Naishuller       1
Oliver Parker         1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [73]:
answers['15'] = 'Chris Hemsworth' # +

In [72]:
data_12 = data[data.release_year == 2012]
data_12['cast'] = data_12['cast'].str.split('|')

data_12 = data_12.explode('cast')

data_12.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [75]:
answers['16'] = 'Matt Damon' # +

In [74]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Samuel L. Jackson     15
Eddie Murphy          15
                      ..
Paul Sanchez           1
Paul Anderson          1
Kelly Hu               1
Jorma Taccone          1
Elizabeth Mitchell     1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [77]:
answers['17'] = 'Action' # +

In [76]:
nicolas_cage = data[data['cast'].str.contains('Nicolas Cage')]
nicolas_cage.genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [79]:
answers['18'] = 'K-19: The Widowmaker' # +

In [78]:
paramount_pic = data[data['production_companies'].str.contains('Paramount Pictures')]
paramount_pic[paramount_pic.profit == paramount_pic.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.000,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [81]:
answers['19'] = '2015' # +

In [80]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [83]:
answers['20'] = '2014' # +

In [82]:
warner_bros = data[data['production_companies'].str.contains('Warner Bros')]
warner_bros.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [86]:
answers['21'] = 'September' # +

In [84]:
data['release_date'].str.split('/').apply(lambda x: x[0]).value_counts().sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [88]:
answers['22'] = 450 # +

In [87]:
len(data.loc[data['month'].isin(['6', '7', '8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [93]:
answers['23'] = 'Peter Jackson' # +

In [89]:
dir_winter = data.copy()
dir_winter['release_date'] = pd.to_datetime(dir_winter['release_date'])
dir_winter['month'] = dir_winter.release_date.dt.month

dir_winter['director'] = dir_winter['director'].apply(lambda x:str(x).split('|'))
dir_winter = dir_winter.explode('director')
dir_winter = dir_winter[dir_winter.month.isin([1,2,12])]
dir_winter['director'].value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
                    ..
Lana Wachowski       1
James Watkins        1
Jack Sholder         1
Tommy Wirkola        1
Josh Trank           1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [92]:
answers['24'] = 'Four By Two Productions' # +

In [91]:
data_len = data.copy()
data_len['production_companies'] = data_len['production_companies'].str.split('|')
data_len = data_len.explode('production_companies')
data_len['lenght'] = data_len['original_title'].str.len()
data_len.groupby(['production_companies'])['lenght'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions      83.000
Jim Henson Company, The      59.000
Dos Corazones                47.000
Polsky Films                 46.000
Museum Canada Productions    46.000
                              ...
Everest Entertainment         3.000
Berlanti Productions          3.000
Global Entertainment Group    2.000
XM2 Productions               2.000
Ixtlan Productions            2.000
Name: lenght, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [95]:
answers['25'] = 'Midnight Picture Show' # +

In [94]:
data_words = data.copy()
data_words['production_companies'] = data_words['production_companies'].str.split('|')
data_words = data_words.explode('production_companies')
data_words['words'] = data_words['overview'].str.split(' ')
data_words['words_length'] = data_words['words'].str.len()
data_words.groupby(['production_companies'])['words_length'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                   175.000
Heineken Branded Entertainment          161.000
Room 9 Entertainment                    161.000
98 MPH Productions                      159.000
Brookwell-McNamara Entertainment        156.000
                                          ...
Henceforth                               13.000
Our Stories Films                        13.000
London Boulevard                         13.000
Motion Picture Corporation of America    11.000
Empire Pictures                          11.000
Name: words_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [97]:
answers['26'] = 'The Dark Knight, Inside Out, Interstellar ' # +

In [96]:
one_perc = data.quantile(0.99, numeric_only=True)['vote_average']
one_perc_films = data[data['vote_average'] > one_perc]
one_perc_films.groupby(['original_title'])['vote_average'].mean().sort_values(ascending = False)

original_title
The Dark Knight                                 8.100
Inside Out                                      8.000
Interstellar                                    8.000
Room                                            8.000
The Imitation Game                              8.000
12 Years a Slave                                7.900
Gone Girl                                       7.900
Guardians of the Galaxy                         7.900
Inception                                       7.900
Memento                                         7.900
The Grand Budapest Hotel                        7.900
The Lord of the Rings: The Return of the King   7.900
The Pianist                                     7.900
The Wolf of Wall Street                         7.900
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [99]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' # +

In [98]:
data_27 = data.copy()
data_27['cast'] = data_27['cast'].str.split('|')
data_27['cast'] = data_27['cast'].apply(lambda x:tuple(it.combinations(sorted(x),2)))
data_27['cast'].explode().value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Amy Adams, Scarlett Johansson)        1
(Jim Carter, Pamela Gidley)            1
(Clive Owen, Naomi Watts)              1
(Monica Bellucci, Teresa Palmer)       1
(Rami Malek, RamÃ³n RodrÃ­guez)        1
Name: cast, Length: 17943, dtype: int64

# Submission

In [111]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 782,
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, Interstellar ',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107}

In [110]:
# и убедиться что ни чего не пропустил)
len(answers)

27